body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #0073e6;
}

header p {
    margin: 5px 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #0073e6;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

section {
    margin-top: 20px;
}

section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 5px;
}

.experience,
.hackathon,
.education {
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

p em {
    color: #777;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    position: relative;
}

ul li::before {
    content: "•";
    color: #0073e6;
    position: absolute;
    left: -20px;
    top: 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: #0073e6;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
}

.skills li:hover {
    background-color: #005bb5;
}